NODE_ENV=development
NEXT_PUBLIC_APP_NAME=Tattoo Platform v2
DATABASE_URL=
AUTH_SECRET=
OBJECT_STORAGE_ENDPOINT=
OBJECT_STORAGE_BUCKET_PRIVATE=
OBJECT_STORAGE_BUCKET_PUBLIC=
OBJECT_STORAGE_BUCKET_RESTRICTED=
AI_PROVIDER=
AI_API_KEY=
